
@import "tailwindcss";



:root {
  --color-brown: #53423e;
  --color-lightBrown: #645550;
  --color-darkBrown: #2c2523;
  --color-black: #1e1917;
  --color-white: #f1e1d9;
  --color-cyan: #15d1e9;
  --color-lightCyan: #88e5f0;
  --color-darkCyan: #009fb3;
  --color-orange: #fb9718;
  --color-lightOrange: #fac27b;
  --color-darkOrange: #d28422;
  --color-grey: #626965;
  --color-lightGrey: #978580;
  --color-darkGrey: #3f4441;
  /*Shadows */
  --cyan-medium-shadow: 10px 10px 200px 150px rgba(94, 206, 202, 0.6);
  --orange-medium-shadow: 10px 10px 200px 150px rgba(240, 169, 79, 0.5);


  

}



/* index.css or App.css */
body {
    font-family: 'Roboto', sans-serif;
    
     background-color: var(--color-darkBrown); 

   
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Josefin Sans', sans-serif; /* Josefin Sans for headings */
  }