
@import "tailwindcss";



:root {
  --color-brown: #53423e;
  --color-lightBrown: #645550;
  --color-darkBrown: #2c2523;
  --color-black: #1e1917;
  --color-white: #f1e1d9;
  --color-cyan: #15d1e9;
  --color-lightCyan: #88e5f0;
  --color-darkCyan: #009fb3;
  --color-orange: #fb9718;
  --color-lightOrange: #fac27b;
  --color-darkOrange: #d28422;
  --color-grey: #626965;
  --color-lightGrey: #978580;
  --color-darkGrey: #3f4441;
  /*Shadows */
  --cyan-medium-shadow: 10px 10px 200px 150px rgba(94, 206, 202, 0.6);
  --orange-medium-shadow: 10px 10px 200px 150px rgba(240, 169, 79, 0.5);




  

}



/* index.css or App.css */
body {
    font-family: 'Roboto', sans-serif;
    
     background-color: var(--color-darkBrown); 

   
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Josefin Sans', sans-serif; /* Josefin Sans for headings */
  }


  @import "tailwindcss";

  /* Custom Screens */
  @media (min-width: 350px) {
    .sm-screen {
      font-size: 1rem; /* Equivalent to sm:text-xl */
    }
  }
  
  @media (min-width: 760px) {
    .md-screen {
      font-size: 1.25rem; /* Equivalent to md:text-2xl */
    }
  }
  
  @media (min-width: 1024px) {
    .lg-screen {
      font-size: 1.5rem; /* Equivalent to lg:text-3xl */
    }
  }
  
  @media (min-width: 1280px) {
    .xl-screen {
      font-size: 1.75rem; /* Equivalent to xl:text-4xl */
    }
  }
  
  @media (min-width: 1536px) {
    .xxl-screen {
      font-size: 2rem; /* Equivalent to 2xl:text-5xl */
    }
  }